<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Hi, I'm YingChao </h1>
        <p>A blog for my study note. </p>
      </header>
      <p>
      私は陳盈兆です、大学院生です。
      </p>
      <ul class="actions">
        <li><a href="https://yingchao.gitlab.io/" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="https://github.com/identicons/yingchao-chen.png" alt="" />
    </span>
  </section>
